<aside class="sidebar">
    <h2>🏥 HRS</h2>
    <ul>
        <li><a asp-controller="home" asp-action="Appointment">Randevu Al</a></li>
        <li><a asp-controller="home" asp-action="Active">Aktif Randevular</a></li>
        <li><a asp-controller="home" asp-action="Past">Geçmiş Randevular</a></li>
        <li><a asp-controller="home" asp-action="Profile">Hasta Bilgileri</a></li>
    </ul>
</aside>

