@{
    ViewData["Title"] = "Randevu Al";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
    @await Html.PartialAsync("Component/_UserSidebar.cshtml")
}
@section Scripts {
<script src="~/js/appointment.js"></script>
}

@{
    ViewData["Title"] = "Randevu Al";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
    @await Html.PartialAsync("Component/_UserSidebar.cshtml")
}

<h1>Randevu Al</h1>

<form asp-action="CreateAppointment" method="post" id="appointmentForm">
    <div class="form-grid">
        <select  id="citySelect">
            <option value="">Şehir Seçiniz</option>
        </select>

        <select  id="hospitalSelect">
            <option value="">Hastane Seçiniz</option>
        </select>

        <select  id="departmentSelect">
            <option value="">Bölüm Seçiniz</option>
        </select>

        <select  id="doctorSelect">
            <option value="">Doktor Seçiniz</option>
        </select>

        <input type="date" id="dateSelect" />
    </div>

    <h3>Uygun Saatler</h3>
    <div id="timeSlots" style="display:flex;gap:5px;flex-wrap:wrap"></div>
    <input type="hidden"  id="selectedTime" />

    <button type="submit">Randevu Oluştur</button>
</form>






