@model Appointment.WebUI.Models.LoginViewModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="roles">
    <button data-role="Kullanıcı">Kullanıcı</button>
    <button data-role="Doktor">Doktor</button>
    <button data-role="Admin">Admin</button>
</div>

<h3 id="roleText">Rol Seçilmedi</h3>
<form id="loginForm">
    <input asp-for="UserNameOrEmail" placeholder="TC Kimlik No ve ya E-posta" required>
    <input asp-for="Password" type="password" placeholder="Şifre" required>
    <button type="submit">Giriş Yap</button>
</form>

<div class="links">
    <a asp-action="Register">Kayıt Ol</a>
    <a asp-action="ForgotPassword">Şifremi Unuttum</a>
</div>