<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Hastane Randevu Sistemi</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>

    <div class="container">
        <div class="box">
            <h1>Hastane Randevu Sistemi</h1>


            @RenderBody()
        </div>
        
    </div>

    <script src="~/js/login.js"></script>
</body>

</html>