@{
    ViewData["Title"] = "Randevu Mesajı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var doctor = Context.Request.Query["doctor"];
    var msg = Context.Request.Query["msg"];
}

@section Sidebar {
    @await Html.PartialAsync("Component/_SidebarUser")
}

<h1>Randevu Mesajı</h1>

<div class="popup-body">
    <p><strong>Doktor:</strong> @doctor</p>
    <p>@msg</p>
</div>

<a asp-controller="User" asp-action="Past">Geri Dön</a>
