@{
    ViewData["Title"] = "Geçmiş Randevular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
    @await Html.PartialAsync("Component/_SidebarUser")
}

<h1>Geçmiş Randevular</h1>

<table>
    <tr>
        <th>Hastane</th><th>Bölüm</th><th>Doktor</th><th>Tarih</th><th>Saat</th><th>Mesaj</th>
    </tr>
    <tr>
        <td>Özel Hastane</td>
        <td>Dahiliye</td>
        <td>Dr. Ayşe Demir</td>
        <td>10.11.2025</td>
        <td>14:00</td>
        <td>
            <a asp-controller="User" asp-action="Message" asp-route-doctor="Dr. Ayşe Demir" asp-route-msg="Muayene sonrası ilaçlarınızı düzenli kullanınız ve 1 ay sonra kontrole geliniz.">Görüntüle</a>
        </td>
    </tr>
</table>
