@{
    ViewData["Title"] = "Doktor Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Sidebar {
    @await Html.PartialAsync("_SidebarDoctor")
}

<h1>Profil</h1>

<form id="profileForm">
    <label>Ad Soyad:</label>
    <input type="text" id="doctorName" value="Dr. Ahmet Kaya"><br><br>
    <label>TC:</label>
    <input type="text" id="doctorTC" value="12345678901"><br><br>
    <label>Bölüm:</label>
    <input type="text" id="doctorDepartment" value="Kardiyoloji"><br><br>
    <label>Telefon:</label>
    <input type="text" id="doctorPhone" value="05551234567"><br><br>
    <label>Email:</label>
    <input type="email" id="doctorEmail" value="ahmet@example.com"><br><br>
    <button type="submit">Güncelle</button>
</form>
